In [1]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:
n = 5
for i in range(1,n+1):
    print(' '* (n-i)+ '*'*i)

    *
   **
  ***
 ****
*****

In [6]:
print(' '*95+'hihihihihih')

                                                                                               hihihihihih

In [14]:
for i in range(4):
    for m in range(4):
        print('*',end=' ')
    print('\r')

* * * *
* * * *
* * * *
* * * *

In [13]:
print('*')
n = 4
print('*'*n)
for j in range(n):
    print('*',end=' ')
print()

*
****
* * * *

In [15]:
n = 5
for i in range(n):
    for j in range(n+1):
        print('$',end=' ')
    print()

$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $

In [21]:
n = 5
for i in range(n):
    for j in range(i+1):
        print('$',end='  ')
    print()

$
$  $
$  $  $
$  $  $  $
$  $  $  $  $

In [28]:
n = 5
for i in range(n):
    for j in range(i,n):
        print('$',end='  ')
    print()

$  $  $  $  $
$  $  $  $
$  $  $
$  $
$

In [30]:
n = 5
for i in range(n):
    for j in range(n-i):
        print('$',end='  ')
    print()

$  $  $  $  $
$  $  $  $
$  $  $
$  $
$

#  Right sided Triangle decresing space and increasing stars:

In [10]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for m in range(i+1):
        print('*',end='')
    print()

     *
    **
   ***
  ****
 *****

#  Right sided traingle with decresing stars and increasing space:

In [83]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(n-i):
        print('$',end='')
    print()

 $$$$$
  $$$$
   $$$
    $$
     $

#  Hill patterns: Hill pattern has a 3 triangle which has increasing stars2 traingle and one drecreasing space

In [56]:
n = 5
for i in range(n):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print()

     *
    ***
   *****
  *******
 *********

# Reverse hill: icreasing space , 2 traingles with decresing stars:

In [66]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n-1):
        print('*',end='')
    for j in range(i,n):
        print('*',end='')
    print()

 *********
  *******
   *****
    ***
     *

#  Diamond patterns:

In [80]:
n = 5
for i in range(n-1):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print()
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n-1):
        print('*',end='')
    for j in range(i,n):
        print('*',end='')
    print()

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

# creating a number pattern increasing stars:

In [90]:
## while solving a number pattern we will focus on creating first pattern and then adding numers:
n = 5 
for  i in range(n):
    for j in range(i+1):
        print(1,end=' ')
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [97]:
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p = p+1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [102]:
n = 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
    p = p-1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [103]:
n = 5
p = 1
for  i in range(n):
    for j in range(n-i):
        print(p,end='')
    p=p+1
    print()

11111
2222
333
44
5

In [105]:
n = 5
p=0
for i in range(n):
    for j in range(i+1):
        print(p,end='')
    p=p+2
    print()

0
22
444
6666
88888

In [110]:
n = 5
for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print(1,end='')
        else:
            print(2,end='')
        
    print()

1
22
111
2222
11111

In [113]:
n = 5
p = 1
for i in range(n-1):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print(p,end='')
    for j in range(i+1):
        print(p,end='')
    p = p+1
    print()
n = 5
p=5
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n-1):
        print(p,end='')
    for j in range(i,n):
        print(p,end='')
    p = p + 1
    print()

     1
    222
   33333
  4444444
 555555555
  6666666
   77777
    888
     9

In [114]:
n = 5
p = 1
for i in range(n-1):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print(p,end='')
    for j in range(i+1):
        print(p,end='')
    p = p+1
    print()
n = 5
p=5
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n-1):
        print(p,end='')
    for j in range(i,n):
        print(p,end='')
    p = p - 1
    print()

     1
    222
   33333
  4444444
 555555555
  4444444
   33333
    222
     1

In [122]:
n = 5 
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end='')
        p = p+1
    print()

1
12
123
1234
12345

In [126]:
n = 5 
for i in range(n):
    p=1
    for j in range(i+1):
        print(' ',end='')
    for j in range(n-i):
        print(p,end='')
        p=p+1
    print()

 12345
  1234
   123
    12
     1

In [138]:
n = 5

for i in range(n):
    p=1
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print(p,end='')
        p=p+1
        
    for j in range(i+1):
        print(p,end='')
        p=p+1
    print()

     1
    123
   12345
  1234567
 123456789

In [145]:
n = 5

for i in range(n):
    p = 5
    for j in range(i+1):
        print(p,end='')
        p=p-1
    print()

5
54
543
5432
54321

In [1]:
n = 5
for i in range(n):
    for j in range(n):
        print('*',end = ' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

#  Making the shapes of characters using aschi:
# A-Z : 65 to 90   capital
# a-z : 97 to 122    small
# 0-9 : 48 to 57

In [2]:
print(chr(65))

A

In [4]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(chr(65),end=' ')
    print()

A
A A
A A A
A A A A
A A A A A

In [7]:
n = 5
p=65
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=' ')
    p=p+1
    print()

A
B B
C C C
D D D D
E E E E E

In [10]:
n = 5
p=69
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=' ')
    p=p-1
    print()

E
D D
C C C
B B B B
A A A A A

In [12]:
n = 5
p=65
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=' ')
    p=p+2
    print()

A
C C
E E E
G G G G
I I I I I

In [15]:
n = 5

for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print(chr(65),end=' ')
        else:
            print(chr(66),end=' ')
    print()

A
B B
A A A
B B B B
A A A A A

In [25]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
        
    for j in range(n-i):
        if i%2==0:
            print(chr(90),end='')
        else:
            print(chr(79),end='')
        
    print()

 ZZZZZ
  OOOO
   ZZZ
    OO
     Z

In [15]:
n = 5
p = 65
for i in range(n-1):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print(chr(p),end='')
    for j in range(i+1):
        print(chr(p),end='')
    p = p +1
    print()
n = 5
p=65
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n-1):
        print(chr(p),end='')
    for j in range(i,n):
        print(chr(p),end='')
    p=p+1
    print()

     A
    BBB
   CCCCC
  DDDDDDD
 AAAAAAAAA
  BBBBBBB
   CCCCC
    DDD
     E

In [12]:
n = 5
p = 65
for i in range(n-1):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print(chr(p),end='')
    for j in range(i+1):
        print(chr(p),end='')
    p = p+1
    print()
n = 5
p=65
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n-1):
        print(chr(p),end='')
    for j in range(i,n):
        print(chr(p),end='')
    p = p + 1
    print()

     A
    BBB
   CCCCC
  DDDDDDD
 AAAAAAAAA
  BBBBBBB
   CCCCC
    DDD
     E

In [17]:
n = 5
p = 65
for i in range(n-1):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i):
        print(chr(p),end='')
    for j in range(i+1):
        print(chr(p),end='')
    p = p+1
    print()
n = 5
p=69
for i in range(n):
    for j in range(i+1):
        print(' ',end='')
    for j in range(i,n-1):
        print(chr(p),end='')
    for j in range(i,n):
        print(chr(p),end='')
    p = p - 1
    print()

     A
    BBB
   CCCCC
  DDDDDDD
 EEEEEEEEE
  DDDDDDD
   CCCCC
    BBB
     A

In [22]:
n = 5

for i in range(n):
    p = 65
    for j in range(i+1):
        print(chr(p),end='')
        p=p+1
    print()

A
AB
ABC
ABCD
ABCDE

In [26]:

s = 'coder'
n = len(s)
for i in range(n):
    for j in range(i+1):
        print(s[j],end='')
    print()

c
co
cod
code
coder

In [27]:

s = 'coder'
n = len(s)
for i in range(n):
    for j in range(i+1):
        print(s[i],end='')
    print()

c
oo
ddd
eeee
rrrrr

In [29]:

s = 'coder'
n = len(s)
p=0
for i in range(n):
    for j in range(i+1):
        print(s[p],end='')
    p=p+1
    print()

c
oo
ddd
eeee
rrrrr

In [31]:
s = 'coder'
n = len(s)
p=4
for i in range(n):
    for j in range(n-i):
        print(s[p],end='')
    p=p-1
    print()

rrrrr
eeee
ddd
oo
c

In [36]:
s = 'coder'
n = len(s)

for i in range(n):
    p=4
    for j in range(i+1):
        print(s[p],end='')
        p=p-1
    print()

r
re
red
redo
redoc

In [13]:
n = 7
for i in range(n):
    for j in range(5):
        if ((j == 0 or j== 4) and i!=0) or ((i==0 or i==3) and (j>0 or j<4)):
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
*   *
*   *
*****
*   *
*   *
*   *

In [17]:
n = 7
for i in range(n):
    for j in range(5):
        if (i==0 or i==3 or i==6) or (j==0 or j==4):
            print('*',end='')
        else:
            print(end=' ')
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [2]:
n = 7
for i in range(n):
    for j in range(5):
        if j==0 or ((i==0 or i==6) and (j>0)):
            print('*',end='')
        else:
            print('',end='')
    print()

*****
*
*
*
*
*
*****